:root {
  --wrapper-padding: 10px;
}

body {
  /*color: #09790a;*/
  color: $simpleBodyColor;
}


.booking-rooms select {
  padding: 10px;
  margin: var(--wrapper-padding);
}

.taxonomy-tag {
  border: 1px solid #cecece;
  margin-right: 10px;
  padding: 3px;
}

.taxonomy-wrapper {
  margin: 10px 0;
}